{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression": "PK = :pk",
        "expressionValues" : {
            ":pk": $util.dynamodb.toDynamoDBJson("POST#$ctx.source.id"),
        }
    },
    "scanIndexForward": false,
    "limit": $util.defaultIfNull(${ctx.args.num}, 20),
    "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.after, null))
}