#if($ctx.results.items.size() == 0)
    #return
#end

#set($site = {})
#set($posts = [])
#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "SITE")
        #set ($site = $item)
    #elseif($item["_TYPE"] == "POST")
        $util.qr($posts.add($item))
    #end
#end

$util.qr($site.put("posts", {
    "cursor": $ctx.result.nextToken,
    "posts": $posts
}))

$util.toJson($site)