{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query": {
        "expression": "PK = :pk AND SK < :sk",
        "expressionValues": {
            ":pk": $util.dynamodb.toDynamoDBJson("SITE#$ctx.args.domain"),
            ":sk": $util.dynamodb.toDynamoDBJson("SITE#$ctx.args.domain")
        }
    },
    "scanIndexForward": false,
    "limit": $util.defaultIfNull(${ctx.args.num}, 20),
    "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.after, null))
}